.ReclamacaoCard {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.reclamacaoFeedContainer{
  margin-top: 10px;
}

.reclamacaoCreator{
  width: 700px;
  margin-top: 15px;
  margin: 0 auto;
  background-color: #e9ecef;
  padding: 10px;

}